.logo-loop-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  padding: 1rem 1rem;
  overflow: visible;
  perspective: 1200px;

  main,
  ul:first-of-type {
    transform-style: preserve-3d;
  }
  ul {
    transition: opacity 0.5s 1.5s;
  }
  [data-marker] {
    outline: 2px dashed hsl(16 100% 50% / 0.8);
    opacity: 0;
    outline-offset: 2px;
    position: absolute;
    inset: -4px;
    border-radius: 8px;
    pointer-events: none;
  }
  [data-explode='false'] {
    main {
      transition: transform 0.5s 0.5s;
    }
    [data-logo],
    [data-marker] {
      transition: opacity 0.5s, transform 0.5s;
    }
    main ul:first-of-type {
      transition: translate 0.5s 1s;
    }
  }

  [data-explode='true'] {
    main {
      transition: transform 0.5s 1s;
    }
    [data-logo],
    [data-marker] {
      transition: opacity 0.5s 1.5s, transform 0.5s 1.5s;
    }
    main ul:first-of-type {
      transition: translate 0.5s 0.5s;
    }
    ul {
      transition: opacity 0.5s;
    }

    [data-marker] {
      opacity: 1;
    }
    main ul:not(:first-of-type) {
      opacity: 0;
    }
    main {
      transform: rotateX(24deg) rotateY(-45deg);
    }
    main ul:first-of-type {
      translate: calc(120% + 4rem) 0;
    }
    main [data-logo] {
      animation-name: appear;
      animation-duration: calc(var(--duration) * 1s);
      animation-fill-mode: both;
      animation-iteration-count: infinite;
      animation-delay: calc(
        (var(--duration) / var(--items)) * (var(--items) - var(--i)) * -1s +
          (var(--base-delay) * 1s)
      );
      transform-style: preserve-3d;
      filter: blur(0px) !important;
    }
    [data-logo],
    [data-marker] {
      transform: translate3d(0, 0, calc((var(--i) - 1) * 3rem));
    }
    use {
      animation: none;
    }
    ul:first-of-type [data-logo] {
      --opacity: 0.25;
    }
    ul:first-of-type use {
      opacity: 1 !important;
    }
  }

  ul {
    --base-delay: calc(
      sin((var(--index) / var(--lists)) * 45deg) * var(--stagger, 0)
    );
  }

  [data-logo] use {
    animation-name: appear;
    animation-duration: calc(var(--duration) * 1s);
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-delay: calc(
      (var(--duration) / var(--items)) * (var(--items) - var(--i)) * -1s +
        (var(--base-delay) * 1s)
    );
    mix-blend-mode: hard-light;
    transform-box: fill-box;
  }
  [data-logo] svg {
    overflow: visible !important;
    height: 3rem;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    gap: 3.5rem;
    justify-content: center;
  }
  ul {
    width: 100px;
    display: grid;
    grid-template: 1fr / 1fr;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  li {
    grid-area: 1 / 1;
    display: grid;
    place-items: center;
    position: relative;
  }
}
